extends ../layout

block content
    .container
        table(class="table table-striped")
            thead.thead-dark
                tr
                    th(scope="col") NRP
                    th(scope="col") Nama
                    th(scope="col") Angkatan
                    th(scope="col") Card ID
                    th(scope="col") Action
            tbody
                form(method="POST", action="/mahasiswa/tambah" class="form-group")
                    tr
                        td
                            input(type="text", name="nrp", placeholder="NRP(05111...)", class="form-control")
                        td
                            input(type="text", name="nama", placeholder="Nama", class="form-control")
                        td
                            input(type="text", name="angkatan", placeholder="Angkatan", class="form-control")
                        td &nbsp
                        td
                            button(type="submit" class="btn btn-primary") add
                if results
                    each val in results
                        tr
                            th(scope="row")=val.nrp
                            td=val.nama
                            td=val.angkatan
                            td=val.card_id
                            td
                                .btn-group(role='group', aria-label='Basic example')
                                    a(href='/mahasiswa/Link/'+val.nrp)
                                        button.btn.btn-dark(type='button') link
                                    a(href='/mahasiswa/edit/'+val.nrp)
                                        button.btn.btn-primary(type='button') edit
                                    a(href='/mahasiswa/delete/'+val.nrp)
                                        button.btn.btn-danger(type='button') delete