extends layout

block content
    .container
    p Login
    form(method="POST", action="/login" class="form-group")
      input(type="text", name="username", placeholder="username", class="form-control")
      br
      input(type="password", name="password", placeholder="Password", class="form-control")
      br
      button(type="submit" class="btn btn-primary") login