extends ../layout

block content
    .container
        p Tambah Kelas
        if errors
            ul
            each val in errors
                li(class="alert alert-danger")= val.msg
        else if complete
            li(class="alert alert-success")= 'Sukses ditambahkan'
        form(method="POST", action='/kelas/'+class_id+'/tambah' class="form-group")
            input(type="text", name="nrp", placeholder="NRP", class="form-control")
            br
            button(type="submit" class="btn btn-primary") tambah