extends ../layout

block content
    table(class="table table-striped")
        thead.thead-dark
            tr
                th(scope="col") No.
                th(scope="col") NRP
                th(scope="col") ID Kelas
                th(scope="col") Waktu Kehadiran
                th(scope="col") Action
        tbody
            -var i =1;
            each val in result
                tr
                    th(scope="row")=i++
                    td=val.student_id
                    td=val.class_id
                    td=val.date
                    td
                        a(href="/attendance/delete/"+val.id)
                            button.btn.btn-danger(type='button') delete